

<img src="/img/me.jpg" alt="emre mumcu" width="200" height="250" />

<p class="my-3">
    This is a two factor authentication sample, using one time password (OTP).
</p>

<p class="my-3">
    References:
    <ul>
        <li>Install-Package Otp.NET</li>
    </ul>
</p>

<p>
    This demo application is based on Otp.NET library. For more information see:

    <ul>
        <li><a href="https://github.com/kspearrin/Otp.NET" target="_blank">https://github.com/kspearrin/Otp.NET</a></li>
        <li><a href="https://www.nuget.org/packages/Otp.NET" target="_blank">https://www.nuget.org/packages/Otp.NET</a></li>
    </ul>
</p>

<p class="my-3">
    Emre Mumcu. 2021
</p>